#header
  // structure
  .title-wrapper
    text-align center
    padding 15px 0
    .title
      margin 0

  // colors
  &
    color white
    background-color rgba(0, 0, 0, 0.7)

    .title
      color inherit

  // text
  .title
    font-family JockeyOne
    text-transform uppercase
