@import '{}/client/modules/common/styles/mixins/circle.import.styl'
#matching-box
  // structure
  &
    margin auto
    max-width 100%
    padding 0 10%

  .select-list-wrapper
    circle(8%)
    side-spacing = 0%
    &:nth-child(1) .select-list
      left side-spacing
    &:nth-child(2) .select-list
      left auto
      right side-spacing

  .select-list
    display block
    text-align center
    overflow hidden

    li
      display block
      position absolute
      top 50%
      left 0
      width 100%
      z-index 2

    .ribbon
      position absolute
      top 50%
      transform translateY(-50%)
      left 0
      width 100%
      height 130px
      background-color black
      z-index 1

    .department-wrapper
      position absolute
      bottom 10%
      width 100%
      .department
        margin 0
    .type-wrapper
      position absolute
      top 10%
      width 100%
  .remaining-godsons
    margin-top -50%
  .remaining-godsons
    text-align center
  .buttons-wrapper
    text-align center

  // colors
  &:focus
    outline none
  list-border-color = white
  .select-list
    border solid 10px list-border-color
    background-color rgba(0, 0, 0, 0.5)

    li, .department, .type
      color list-border-color
  .buttons-wrapper
    button
      border solid 2px list-border-color
      background-color rgba(0, 0, 0, 0.5)
  .remaining-godsons
    color list-border-color
  // text
  .select-list
    li
      text-transform capitalize
      font-family Advent
    .department, .type
      text-transform capitalize
      font-family UbuntuCondensed
    .type
      font-size 3rem
  .buttons-wrapper
    button
      text-transform capitalize
      font-family UbuntuCondensed
  .remaining-godsons
      font-family UbuntuCondensed
    .count
      font-size 5rem
