animation-duration = 0.2s
#matching-box
  .select-list
    li
      font-size 1.5em
      transform translateY(-150%)
      opacity 0
      transition transform animation-duration, opacity animation-duration, font-size animation-duration
      &.picked
        font-size 2.5em
        opacity 1
        transform translateY(-50%)
      &.picked-remove.picked-remove-active
        font-size 1.5em
        opacity 0
        transform translateY(50%)
