<div class="matching-box-wrapper">
  <div class="matching-box row" id="matching-box"
    ng-controller="MatchingBoxController"
    ng-keyup="($event.which === 70) ? pickGodson()
      : ( ($event.which === 80) ? match(pickedGodson)
      : ( ($event.which === 82) ? reset() : $event) )"
    tabindex="-1" pesp-forced-focus>
    <div class="godsons-list-wrapper select-list-wrapper columns medium-6">
      <ul class="godsons-list select-list no-bullet"
        pesp-random-select pesp-random-select-trigger="pickedGodson"
        pesp-random-select-model="pickedGodson"
        pesp-random-select-illusion-model="fakePickedGodson"
        pesp-random-select-collection="godsons"
        pesp-random-select-predicate="needsGodfather"
        pesp-random-select-eligible-count="eligibleGodsonsCount"
        pesp-random-select-interval="400">
        <li ng-repeat="godson in godsons"
          ng-class="{
            'picked': fakePickedGodson === godson
          }" class="godson">
          {{godson.firstName}} {{godson.lastName | uppercase}}
        </li>
        <div class="ribbon">
        </div>
        <div class="type-wrapper">
          <h3 class="type">filleul</h3>
        </div>
        <div class="department-wrapper">
          <h3 class="department">{{fakePickedGodson.department | pespDepartment}}</h3>
        </div>
      </ul>
    </div>
    <div class="godfathers-list-wrapper select-list-wrapper columns medium-6">
      <ul class="godfathers-list select-list no-bullet"
        pesp-random-select pesp-random-select-trigger="matchedGodfather"
        pesp-random-select-model="matchedGodfather"
        pesp-random-select-illusion-model="fakeMatchedGodfather"
        pesp-random-select-collection="godfathers"
        pesp-random-select-interval="400">
        <li ng-repeat="godfather in godfathers"
          ng-class="{
            'picked': fakeMatchedGodfather === godfather
          }" class="godfather">
          {{godfather.firstName}} {{godfather.lastName | uppercase}}
        </li>
        <div class="ribbon">
        </div>
        <div class="type-wrapper">
          <h3 class="type">parrain</h3>
        </div>
        <div class="department-wrapper">
          <h3 class="department">{{fakeMatchedGodfather.department | pespDepartment}}</h3>
        </div>
      </ul>
    </div>
    <div class="remaining-godsons-wrapper columns">
      <h4 class="remaining-godsons">
        <span class="count">{{eligibleGodsonsCount}}</span>
        parrainages restants
      </h4>
    </div>
    <div class="buttons-wrapper columns">
      <button type="button" name="button" ng-click="pickGodson()">
        choisir filleul
      </button>
      <button type="button" name="button"
        ng-click="reset()">
        reinitialiser
      </button>
      <button type="button" name="button"
        ng-click="match(pickedGodson)">
        choisir parrain
      </button>
    </div>
  </div>
</div>
