ratio(w, h, padding = 0)
	position relative
	padding 0

	&::before
		content " "
		display block
		padding-top (1 / (w / h)) * 100%

	& > *
		position absolute
		top padding
		left padding
		width 100% - (padding * 2)
		height 100% - (padding * 2)
